@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/home.css")
}

<div class="home-page">
    <div class="content">
        <h1 class="mb-4">Sistema de Comentários e Respostas</h1>
        <p>
            Uma plataforma interativa para compartilhamento de ideias, opiniões e soluções por meio de comentários e respostas. O site promove engajamento dinâmico entre os usuários, facilitando discussões organizadas e colaborativas em diversos tópicos.
        </p>
        <a class="btn btn-primary">Ir para o PostSphere</a>
    </div>
</div>
